@import "tailwindcss";

/* globals.css */
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

body {
  background-color: #070709;
  color: #f2f6fa;
  text-shadow:#909091;
}

::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  border-radius: 10px;
  background-color: #71717a5c;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #71717a5c;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  background-color: #71717a5c;
}


.custom-layout {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 1024px) {
  .custom-layout {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1280px) {
  .custom-layout {
    max-width: 1800px;
  }
}

@media (min-width: 1536px) {
  .custom-layout {
    max-width: 2200px;
  }
}
